body {
  background-color: powderblue;
}

.jumbotron {
    margin-bottom: 10px;
    background-image: url(../img/e.jpg);
    background-position: 0% 30%;
    background-size: cover;
    background-repeat: no-repeat;
}
