body {
  background-color: powderblue;
}

.jumbotron {
    margin-bottom: 20px;
    background-image: url(../img/e.jpg);
    background-position: 0% 30%;
    background-size: cover;
    background-repeat: no-repeat;
}


#CSS, #Csharp, #Ruby {
  display: none;
}

#form-group{
  padding: 50px;

}

#app, #interests, #workEnvironment, #techInterest, #indicator {
  color: #62ABA6;
}
  )
/*@media screen and (min-width: 768px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }*/
